/* Background style */
.ChangePasswordUpdate-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/mangobackground.png');
    background-size: cover;
    background-position: center;
}

.ChangePasswordUpdate-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* Sign-in box style */
.ChangePasswordUpdate-box {
    position: relative;
    background-color: #F1E4C3;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    z-index: 2;
    font-family: 'Arial', sans-serif;
}

/* Logo style */
.ChangePasswordUpdate-logo {
    width: 60px;
    margin-bottom: 15px;
}

/* Title style */
h1 {
    font-size: 26px;
    color: #4A4A4A;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Button style */
.ChangePasswordUpdate-button {
    width: 100%;
    padding: 12px;
    background-color: #436850;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.ChangePasswordUpdate-button:hover {
    background-color: #3e7f31;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .ChangePasswordUpdate-box {
        width: 80%;
        padding: 30px 20px;
    }

    .ChangePasswordUpdate-logo {
        width: 50px;
    }

    h1 {
        font-size: 22px;
    }

    .ChangePasswordUpdate-button {
        padding: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .ChangePasswordUpdate-box {
        width: 90%;
        padding: 20px 15px;
    }

    .ChangePasswordUpdate-logo {
        width: 40px;
    }

    h1 {
        font-size: 18px;
    }

    .ChangePasswordUpdate-button {
        padding: 8px;
        font-size: 12px;
    }
}