@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
}

.navbar-link.active {
    background-color: #FFDD55;
    color: #4B6A3D;
}

.user-profile-mainhomepage:hover {
    border-color: #FFDD55;
}

.profile-dropdown {
    position: absolute;
    top: 50px;
    /* Adjusted to position below the profile image */
    right: 0;
    background-color: #e5e5e5;
    /* Light grey background */
    border: 1px solid #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    overflow: hidden;
    width: 200px;
    /* Set a fixed width for the dropdown */
}

.dropdown-link {
    display: block;
    padding: 12px 20px;
    text-align: left;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-link:hover {
    background-color: #FFDD55;
    /* Slightly darker grey on hover */
    color: #000;
    /* Change text color on hover */
}

.navbar-profile {
    position: relative;
    display: flex;
    align-items: center;
}

.user-profile-mainhomepage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    transition: border-color 0.3s ease;
}

.user-profile:hover {
    border-color: #FFDD55;
}

/* Show the dropdown menu when dropdownVisible is true */
.navbar-profile .navbar-dropdown-content {
    display: block;
}

.main-homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: #436850;
    margin: 0;
    padding: 0;
}

.manger-logo {
    width: 100%;
    cursor: pointer;
    /* Adjust this to resize the logo */
    max-width: 100px;
    /* Ensure it doesn't grow too large */
    margin-right: 4%;
    vertical-align: middle;
}

.navbar-mainhomepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #436850;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 10;
}

.navbar-link {
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 8px 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-link:hover {
    background-color: #FFDD55;
    color: #4B6A3D;
    transform: scale(1.05);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.navbar-link:active {
    transform: scale(1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.hero-content h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.hero-content p {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/differentmango.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    flex: 1;
    color: #FFFFFF;
    overflow: hidden;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 30px;
    border-radius: 8px;
}

.hero-content h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.hero-content p {
    font-size: 0.8em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.footer-mainhomepage {
    background-color: #436850;
    padding: 15px 20px;
    /* Adjust padding */
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-link {
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.footer-address {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    margin-top: -0.5%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar-mainhomepage {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        flex-direction: column;
        gap: 10px;
    }

    .manger-logo {
        max-width: 80px;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-address p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    .navbar-mainhomepage {
        padding: 10px 20px;
    }

    .manger-logo {
        max-width: 60px;
    }

    .hero-content h1 {
        font-size: 1.5em;
    }

    .hero-content p {
        font-size: 0.9em;
    }

    .footer-address p {
        font-size: 0.8em;
    }
}